.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    justify-items: center;
    padding-block: 50px;
    background: linear-gradient(137deg, #0a3474 0%, #2a4f87 100%);
}

.footer__o {

    color: #82c3ff;
}

@media (width < 1024px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}