.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    justify-items: center;
    padding-block: 50px;
    background: linear-gradient(137deg, #0a3474 0%, #2a4f87 100%);
}

.footer__container {
    display: grid;
    justify-items: start;
    gap: 5px;
    margin-bottom: 20px;
}

.footer__o {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-decoration: underline;
    color: #82c3ff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #5e8dba;
    }
}

.footer__phone {
    display: block;
    margin-bottom: 10px;
    color: var(--color-white);
}

.footer__info {
    display: block;
    color: var(--color-white);
}

@media (width < 512px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 1024px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}