.gallery_block {
    position: relative;
    margin-top: 60px;
}

.gallery_block__title {
    text-align: center;
    font-size: 2rem;
}

.gallery_block__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #014c59b2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.gallery_block__bigImg {
    width: auto;
    max-width: 90%;
    max-height: 90%;
}

.gallery_block__close {
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 9%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gallery_block__close:hover {
    transform: rotate(360deg);
}

.gallery_block__next {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


}

.gallery_block__prev {
    background: none;
    border: none;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.gallery_block__prev:hover {
    transform: scale(1.1) rotate(180deg);
}

.gallery_block__next:hover {
    transform: scale(1.1);
}

@media (width < 1024px) {
    .mySwiper {
        width: 90%;
        max-width: 640px;
        height: 320px;
    }

    .slide {
        width: 80%;
    }

    .slide:nth-child(2n) {
        width: 60%;
    }

    .slide:nth-child(3n) {
        width: 60%;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .autoplay_progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: rgb(198, 239, 12);
    }

    .autoplay_progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: rgb(198, 239, 12);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);

    }

}