.container {
    margin-top: 50px;
    background-image: url('/img/bg_vilcan.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box_info {
    max-width: 500px;
}

.box_info__slider {
    max-width: calc(100% - 110px);
    max-height: calc(100% - 110px);
}

.box_info__slider {
    width: 100%;
    height: auto;

}

.box_info__img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.box_info__img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.box_info__title {
    margin-left: 30px;
    align-self: end;
    font-size: 1.8rem;
}

.box_info__text {
    margin-left: 30px;
    font-size: 1.5rem;

}

.box_info__link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-block: 20px;
    padding-inline: 30px;
    background-color: #0F467A;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-white);
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
}

.box_info__list_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box_info__wrap {
    padding: 20px;
    border-radius: 15px;
    background-color: #203393f0;
}

.box_info__box {
    display: flex;
    align-items: center;
}

.box_info__title {
    margin: 0;
    margin-left: 20px;
    font-size: 1.5rem;
    line-height: 1;
    align-self: center;
}

@media (width < 1124px) {
    .box_info__list_items {
        grid-template-columns: 1fr;
    }
}

@media (width < 1024px) {
    .box_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .box_info__slider {
        max-width: calc(100% - 100px);
        max-height: calc(100% - 100px);
        width: 100%;
        height: auto;

    }

    .box_info__img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }



    .box_info__text {
        margin-left: 0px;
        margin-bottom: 30px;


    }
}

@media (width < 860px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media (width < 724px) {
    .box_info__slider {
        max-width: calc(100% - 120px);
        max-height: calc(100% - 120px);
    }
}