.main_abiut {
    display: flex;
    align-items: center;
    height: 80dvh;
    background-image: url("/img/about/bg_about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_abiut__header {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #020227;
}